<div class="row mt-5"> <!---row with margin top -->
    <div class="col-md-6 m-auto"> <!--6 coloumn-->
        <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="/user/register" class="btn btn-primary btn-block mb-2">REGISTER</a>
        <a href="/user/login" class="btn btn secondary btn-block">LOGIN</a>
        </div>
    </div>
</div>